<h1>Hi <%= current_user.name.capitalize %>! </h1>
	<form action="/ideas" method="post">
		<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
		<textarea name="content" placeholder="Post something witty here" class="content form-control"></textarea>
		<p class="create"><input type="submit" value="Create Idea" class="btn btn-success"></p>
	</form>
<div class="ideas">
	<% @ideas.sort_by { |idea| idea.likes.size }.reverse.each do |i| %>
				<p><a href="/users/<%= i.user.id %>"><%= i.user.alias %></a> says: <%= i.content %></p>
			<form action="/likes" method="post">
				<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
				<button type="submit" btn-primary btn-sm">Like</button>
				<input type="hidden" name="idea_id" value="<%= i.id %>">
			</form>
			<% if current_user.id == i.user_id %>
				<form action="/ideas/" method="post">
					<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
					<input type='hidden' name='_method' value='delete'>
					<input type='hidden' name='idea_id' value="<%= i.id %>">
					<input type='submit' value='Delete'>
				</form>
			<% end %>
			<p class="likes_count"><a href="/ideas/<%= i.id %>"><%= pluralize(i.likes.count, 'person') %> liked this</a></p>
	<% end %>
</div>